#container-fluid, #header, #nav, #content, #aside, #promo1, #promo2, #promo3, #promo4, #footer {
  border: 2px solid #000;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#container-fluid {
  background: yellow;
}

#header {
  background: blue;
  height: 160px;
}

#nav {
  background: green;
  height: 60px;
}

#content {
  background: red;
  height: 200px;
}

#aside {
  background: turquoise;
  height: 200px;
}

#promo1, #promo2, #promo3, #promo4 {
  background: gold;
  height: 160px;
}

#footer {
  background: #000;
  color: #fff;
  height: 60px;
}

.col-md-2 {
  background-color: black;
  color: red;
}

#push-div {
  background: blue;
  border: 1px solid #fff;
  display: none;
}

#pull-div {
  background: orange;
  border: 1px solid #fff;
  display: none;
}

.threecolumns {
  background: blue;
  color: white;
  border: 1px solid #fff;
  height: 50px;
  display: none;
}
