#container-fluid, #header, #nav, #content, #aside, #promo1, #promo2, #promo3, #promo4, #footer {
  border: 2px solid #000;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#container-fluid {
  background: yellow;
}

#container-fluid p {
  padding-left: 440px;
}

#header {
  background: blue;
  height: 160px;
}

#nav {
  background: green;
  height: 60px;
}

#content {
  background: red;
  height: 200px;
}

#aside {
  background: turquoise;
  height: 200px;
}

#promo1, #promo2, #promo3, #promo4 {
  background: gold;
  height: 160px;
}

#footer {
  background: #000;
  color: #fff;
  height: 60px;
}

@media screen and (max-width: 768px) {
  #header {
    background: green;
  }

  #nav {
    background: red;
  }

  #content {
    background: turquoise;
  }

  #aside {
    background: gold;
  }

  #promo1, #promo2, #promo3, #promo4 {
    background: #000;
  }

  #footer {
    background: blue;
  }
}

@media screen and (max-width: 375px) {
  #header {
    background: red;
  }

  #nav {
    background: turquoise;
  }

  #content {
    background: gold;
  }

  #aside {
    background: #000;
  }

  #promo1, #promo2, #promo3, #promo4 {
    background: blue;
  }

  #footer {
    background: green;
  }
}
